<form class="example-form" [formGroup]="userDetailsForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Prometheus" formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Age</mat-label>
    <input matInput placeholder="10" formControlName="age">
  </mat-form-field>
</form>
<button mat-raised-button color="primary" (click)="onSubmitClick()">Submit</button>